:root {
    --font-color: rgb(202, 200, 200);
    --shadow-color: rgb(170, 167, 165);
    --background-color: #0a1e31;
} 


.PortfolioCube {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--font-color);
   
}

.Title {
    cursor: context-menu;
    font-size: clamp(2rem, 6vw, 6rem); 
    text-shadow: 1px 1px 0 var(--shadow-color), 2px 2px 0 var(--shadow-color),
                3px 3px 0 var(--shadow-color), 4px 4px 0 var(--shadow-color),
                5px 5px 0 var(--shadow-color), 6px 6px 0 var(--shadow-color);
    
}
