:root {
    --font-color: rgb(194, 193, 193);
    --shadow-color: rgb(185, 176, 172);
    --background-color: #03192b;
} 


.PortfolioCube {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    color: var(--font-color);
    background-color: var(--background-color);
}

.PortfolioCube h1 {
    font-size: clamp(2rem, 6vw, 6rem);
    text-shadow: 1px 1px 0 var(--shadow-color), 2px 2px 0 var(--shadow-color),
                3px 3px 0 var(--shadow-color), 4px 4px 0 var(--shadow-color),
                5px 5px 0 var(--shadow-color), 6px 6px 0 var(--shadow-color);
}

