.App {
  /* text-align: center; */
}


.font_rubik {
  font-family: 'Rubik', sans-serif;
}

.font_limelight {
  font-family: 'Limelight', cursive;
}

.font_caveat {
  font-family: 'Caveat', cursive;
}

