

.App {

  /* text-align: center; */
}


.font-rubik {
  font-family: 'Rubik', sans-serif;
}

.font-limelight {
  font-family: 'Limelight', cursive;
}

.font-caveat {
  font-family: 'Caveat', cursive;
}

